In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('main.csv')
df

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
0,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$295.00,TopWines Switzerland SA,1990Barbaresco Gaja Angelo,Switzerland
1,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$324.62,Vintage Grand Cru,Gaja Barbaresco1990,Hong Kong
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
3,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$338.68,Wine Walker (HK) Limited,"Gaja Barbaresco,1990,Italy,Piedmont",Hong Kong
4,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$396.83,Enoteca Properzio,Barbaresco Gaja19900.75lt.,Italy
...,...,...,...,...,...,...,...,...,...
11191,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$1695.00,Cellaraiders,2005Pingus,USA (NY)
11192,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$4847.00,Albany Vintners,"2005Pingus,Peter Sisseck",UK
11193,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$4912.50,Justerini & Brooks,"2005Domino DePingus,Pingus,Riberadel Duero,[In...",UK
11194,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$5875.00,Westgarth Wines,2005Pingus,USA (CA)
11195,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$9694.00,Albany Vintners,"2005Pingus,Peter Sisseck",UK

### TASK 1
#### Create an output file "filteredCountry.csv" inside a folder named "output". This file should contain only those records where country contains the word USA

In [3]:
CountryList = df.COUNTRY.unique()
CountryList

array(['Switzerland', 'Hong Kong', 'USA (CA)', 'Italy', 'Austria', 'UK',
       'Netherlands', 'USA (MA)', 'New Zealand', 'USA (NJ)', 'USA (NY)',
       'Australia', 'USA (RI)', 'Spain', 'USA (CT)', 'USA (TX)',
       'Germany', 'USA (OH)', 'Belgium', 'France', 'Singapore',
       'USA (FL)', 'USA (IL)', 'USA (DC)', 'USA (WA)', 'USA (IN)',
       'China', 'USA (NV)', 'USA (CO)', 'Canada', 'Portugal', 'USA (MN)',
       'Japan', 'Luxembourg', 'USA (MI)', 'USA (MO)',
       'United Arab Emirates', 'Taiwan', 'USA (VA)', 'USA (OR)',
       'USA (TN)', 'USA (PA)'], dtype=object)

In [4]:
USA_CountryList = []
for i in CountryList:
    if i[0]=='U' and i[1]=='S' and i[2]=='A':
        USA_CountryList.append(i)
print(USA_CountryList)

['USA (CA)', 'USA (MA)', 'USA (NJ)', 'USA (NY)', 'USA (RI)', 'USA (CT)', 'USA (TX)', 'USA (OH)', 'USA (FL)', 'USA (IL)', 'USA (DC)', 'USA (WA)', 'USA (IN)', 'USA (NV)', 'USA (CO)', 'USA (MN)', 'USA (MI)', 'USA (MO)', 'USA (VA)', 'USA (OR)', 'USA (TN)', 'USA (PA)']

In [5]:
filteredCountry = df[df.COUNTRY.isin(USA_CountryList)]
filteredCountry

,SKU,DESCRIPTION,YEAR,CAPACITY,URL,PRICE,SELLER_INFORMATION,OFFER_DESCRIPTION,COUNTRY
2,11331,"Barbaresco,Angelo Gaja",1990,750ml,https://www.wine-searcher.com/find/barbaresco+...,$329.00,The Redd Collection,"1990Barbaresco,Angelo Gaja",USA (CA)
6,11332,"Barbaresco,Angelo Gaja",2010,750ml,https://www.wine-searcher.com/find/barbaresco+...,$175.00,The Redd Collection,"2010Barbaresco,Angelo Gaja",USA (CA)
18,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$304.00,The Redd Collection,"2009Barbaresco,Costa Russi,Angelo Gaja",USA (CA)
22,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$359.99,Lynnway Liquor Mart,Gaja Costa Russi Barbaresco20092009750ml,USA (MA)
23,11333,"Barbaresco,Costa Russi,Angelo Gaja",2009,750ml,https://www.wine-searcher.com/find/barbaresco+...,$379.00,The Old & Rare Wine Company,Angelo Gaja Costa Russi Langhe2009,USA (CA)
...,...,...,...,...,...,...,...,...,...
11185,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$949.00,The Redd Collection,"2005Dominiode Pingus,Peter Sisseck",USA (CA)
11186,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$980.00,Westgarth Wines,2005Pingus,USA (CA)
11189,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$1499.00,Finding.Wine,Dominiode Pingus2005-Pingus750ml.,USA (FL)
11191,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$1695.00,Cellaraiders,2005Pingus,USA (NY)
11194,11625,"Dominio De Pingus,Peter Sisseck",2005,750ml,https://www.wine-searcher.com/find/dominio+de+...,$5875.00,Westgarth Wines,2005Pingus,USA (CA)

In [6]:
filteredCountry.to_csv('C:\\Users\\Kiran Shete\\Bungeetech\\intership-test-master\\output\\filteredCountry.csv', index = False)

### TASK 2
#### Now consider "filteredCountry.csv" as the input file. For each group of "SKU" find 2 minimum prices and store this result in "lowestPrice.csv" inside a folder named "output"

In [7]:
SKU_List = filteredCountry.SKU.unique()

In [8]:
filteredCountry.PRICE = filteredCountry.PRICE.str.replace('$','').str.replace('?','').str.replace(',','')

C:\anaconda\envs\py3tf2\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
filteredCountry['PRICE'] = filteredCountry['PRICE'].astype(float)

C:\anaconda\envs\py3tf2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
SKU = []
FIRST_MINIMUM_PRICE = []
SECOND_MINIMUM_PRICE = []
for i in SKU_List:
    li = np.sort(filteredCountry[filteredCountry['SKU']==i].PRICE.unique())
    if len(li)>1:
        SKU.append(i)
        FIRST_MINIMUM_PRICE.append(li[0])
        SECOND_MINIMUM_PRICE.append(li[1])  
lowestPrice = pd.DataFrame({'SKU':SKU, 'FIRST_MINIMUM_PRICE':FIRST_MINIMUM_PRICE, 
                            'SECOND_MINIMUM_PRICE':SECOND_MINIMUM_PRICE}, )
lowestPrice

       SKU  FIRST_MINIMUM_PRICE  SECOND_MINIMUM_PRICE
0    11333                304.0                359.99
1    11334                329.0                339.00
2    11335                304.0                315.00
3    11336                334.0                364.99
4    11337                334.0                364.99
..     ...                  ...                   ...
266  11620                145.0                152.00
267  11621                215.0                229.00
268  11622                485.0                499.00
269  11624                500.0                525.00
270  11625                750.0                949.00

[271 rows x 3 columns]

In [11]:
lowestPrice.to_csv('C:\\Users\\Kiran Shete\\Bungeetech\\intership-test-master\\output\\lowestPrice.csv', index = False)